name: Deploy to VPS

on:
  push:
    branches:
      - main  # 只有当你修改 main 分支的代码时才触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy file via SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          source: "index.html"
          target: "/www/wwwroot/rn.deepthink.dpdns.org/" # 请确保这和你 Nginx 的 root 路径一致
